@import "./common.scss";

@font-face {
    font-family: "Cantarell";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Cantarell Regular"), local("Cantarell-Regular"),
        url("./fonts/Cantarell.ttf") format("truetype");
}

* {
    color: #2a2f35;
    font-family: "Cantarell", sans-serif;
    letter-spacing: 0.6px;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
}

.app {
    padding: 60px 30px;

    min-height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: calc(100vw - 60px);
}

.dashed-address > input {
    @extend .dashed;
    text-align: left;
    min-width: 400px - 40px;
    max-width: calc(100% - 40px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 900;
    padding: 0 20px;

    max-width: 796px;

    @media (max-device-width: 400px) {
        max-width: 100%;
        width: 100%;
        min-width: 100%;
    }
}

@media (max-device-width: 450px) {
    .big-text {
        font-size: 80px !important;
        line-height: 100px !important;
    }

    .Select--currency {
        width: 100%;
        height: auto !important;
    }

    .dashed-address {
        width: calc(100% - 40px);

        > input {
            width: 100% !important;
            font-size: 30px !important;
            min-width: 100%;
        }
    }

    .option-balance {
        font-size: 14px !important;
    }
}

/* Big text */

.big-text {
    font-size: 100px;
    font-weight: 900;
    line-height: 120px;
}

/* Unlock page */

.Unlock {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.Unlock--after {
    height: 0;
}

.logo {
    height: 120px;
    margin-bottom: 40px;
}

.password {
    background: white;
    color: #3a3a3a;
    padding: 14px 15px 14px 15px;
    height: 66px;
    width: 100%;
    box-sizing: border-box;
    font-size: 40px;
    line-height: 1em;
    border: 0;
    border-radius: 0;
    outline: none;
    text-align: center;

    &::placeholder {
        color: #aaa;
        font-size: 14px;
        letter-spacing: 8px;
        text-transform: uppercase;
        font-family: monospace;
    }
}

input[type="text"]:disabled {
    color: #999;
}

.error {
    padding: 20px;
    font-size: 18px;
    font-weight: 900;
    color: $red;
    font-size: 14px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: monospace;
}

.select-token {
    height: 120px;
}

.tokens {
    display: flex;
    position: absolute;
    overflow-x: scroll;

    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -0.2rem 1rem rgba(0, 0, 0, 0.1);
}

/* Faucet */

.Faucet {
    // width: 350px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-top: 10vh;
    font-size: 18px;

    display: flex;
    flex-wrap: wrap;
}

.Faucet-balances-icon {
    height: 60px;
    margin-bottom: -6px;
    margin-right: 5px;
}

.lighter {
    color: #999;
}

.message {
    @extend .box;

    * {
        margin: 0 !important;
        padding: 0 !important;
    }

    padding: 10px !important;

    width: unset;
    min-width: unset;
    max-width: 816px;

    margin: 0;
    text-align: center;
    line-height: 0;

    * {
        display: block;
    }

    span,
    a {
        font-size: 30px;
        line-height: 30px;
        font-weight: 900;
    }

    a {
        color: $blue;
        display: inline;
    }

    margin-bottom: 10px;
}

.message-error {
    border-color: $red;
}

.message-info {
    border-color: $blue;
}

/* Loading.tsx */

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.loading.alt.lds-dual-ring:after {
    border-color: white transparent white transparent;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.checkbox {
    position: relative;
    top: -0.375rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #aaa;
}

.outOfDate {
    color: white;
    background: rgb(253, 33, 81);
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.showing-addresses > span {
    border: 2px dashed black !important;
    padding: 20px;
    background: white;
    position: relative;
}

.show-addresses > span > p {
    display: flex;
    margin: 0;

    > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 65vw;
    }

    > span {
        margin-right: 10px;
        font-family: monospace;
    }
}

.hide-addresses {
    position: absolute;
    top: -5px;
    right: 0px;
    font-weight: 100;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}
